EAC02/activitat_02/activitat_2.dtd

<!ELEMENT serie (nom, temporades, actors*, pais, any_inici, sinopsi)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT temporades (#PCDATA)>
<!ELEMENT actors (actor*)>
<!ELEMENT actor (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT any_inici (#PCDATA)>
<!ELEMENT sinopsi (#PCDATA)>

<!-- Definimos los atributos para el elemento serie -->
<!ATTLIST serie 
    categoria (Policial | Suspense | Polític) #REQUIRED
    durada_capitol CDATA #IMPLIED
>
